.text-button{
    -fx-pref-height:30px;
    -fx-background-color:#6C757D;
    -fx-background-insets:0;
    -fx-background-radius:0;
    -fx-border-radius:0;
    -fx-text-fill:#F8F9FA;
}

.text-button:hover{
    -fx-background-color:#5A6268;
    -fx-text-fill:#E2E6EA;
}

.text-button:disabled{
    -fx-background-color:#B0B6BA;
    -fx-text-fill:#FAFCFC;
}

.img-button{
    -fx-background-color:transparent;
    -fx-background-insets:0;
    -fx-background-radius:0;
    -fx-border-radius:0;
    -fx-text-fill:#F8F9FA;
    -fx-padding:0;
}

.img-button:hover{
    -fx-background-color:#5A6268;
    -fx-text-fill:#E2E6EA;
}

.img-button:disabled{
    -fx-background-color:transparent;
    -fx-text-fill:#FAFCFC;
}