.text-button{
    -fx-pref-height:30px;
    -fx-background-color:-active;
    -fx-background-insets:0;
    -fx-background-radius:0;
    -fx-border-radius:0;
    -fx-text-fill:-active_content;
}

.text-button:hover{
    -fx-background-color:-active_hover;
    -fx-text-fill:-active_content_hover;
}

.text-button:disabled{
    -fx-background-color:-active_disable;
    -fx-text-fill:-active_content_disable;
}

.img-button{
    -fx-background-color:transparent;
    -fx-background-insets:0;
    -fx-background-radius:0;
    -fx-border-radius:0;
    -fx-padding:0;
}

.img-button:hover{
    -fx-background-color: -active_hover;
}

.img-button:disabled{
    -fx-background-color:transparent;
}