.check-box{
    -fx-background-color:transparent;
    -fx-text-fill: -active_content;
}

.check-box:hover{
    -fx-text-fill: -active_content_hover;
}

.check-box:disabled{
    -fx-text-fill: -active_content_disable;
}

.check-box .box{
    -fx-background-color:transparent;
    -fx-background-radius:0;
    -fx-border-color: -border;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.check-box:selected .box .mark{
    -fx-background-color:-active_content;
}