.dark{
    -primary: #343A40;
    -primary_hover:#23272B;
    -primary_disable:#7A7E83;

    -secondary: #2E3439;
    -secondary_hover:#5A6268;
    -secondary_disable:#B0B6BA;

    -active:#707070;
    -active_hover:#5A6268;
    -active_disable:#707070;

    -active_content: #F8F9FA;
    -active_content_hover: #E2E6EA;
    -active_content_disable: #FAFCFC;

    -border: gray;

    -danger: #DC3545;
    -danger_hover: #C82333;
    -danger_disable: #E97B86;

    -info: #17A2B8;
    -info_hover: #138496;
    -info_disable: #67C3D0;

    -success: #28A745;
    -success_hover: #218838;
    -success_disable: #74C686;

    -warning: #FFC107;
    -warning_hover: #E0A800;
    -warning_disable: #FFD75E;

}

.light{
    -primary: #efedef;
    -primary_hover:#e2e6ea;
    -primary_disable:#fafcfc;

    -secondary: #CECCCE;
    -secondary_hover:#ADADAD;
    -secondary_disable:#CCCCCCCC;

    -active:#CCCCCC;
    -active_hover:#999999;
    -active_disable:#999999;

    -active_content: #222022;
    -active_content_hover: #23272B;
    -active_content_disable: #7A7E83;

    -border: gray;

    -danger: #DC3545;
    -danger_hover: #C82333;
    -danger_disable: #E97B86;

    -info: #17A2B8;
    -info_hover: #138496;
    -info_disable: #67C3D0;

    -success: #28A745;
    -success_hover: #218838;
    -success_disable: #74C686;

    -warning: #FFC107;
    -warning_hover: #E0A800;
    -warning_disable: #FFD75E;


}