.combo-box{
    -fx-background-color: -active;
    -fx-background-radius:0;
    -fx-border-radius: 0;
    -fx-border-color: -active;
    -fx-border-width:0 0 1px 0;
    -fx-border-style: solid;
    -fx-text-fill: -active_content;
}

.combo-box:hover{
    -fx-border-color: -border;
    -fx-text-fill:-active_content_hover;
}

.combo-box>.arrow-button{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.combo-box:disabled,
.combo-box:disabled>.list-cell,
.combo-box:disabled>.arrow-button{
    -fx-background-color:-active_disable;
    -fx-border-color:-active_disable;
    -fx-text-fill:-active_content_disable;
}

.combo-box>.combo-box-popup>.list-view{
    -fx-background-color:-active;
    -fx-border-color:-border;
    -fx-border-style:solid;
}

.combo-box>.list-cell,
.combo-box>.combo-box-popup>.list-view>.virtual-flow>.clipped-container>.sheet>.cell.indexed-cell.list-cell
{
    -fx-background-color:transparent;
    -fx-text-fill: -active_content;
    -fx-padding: 2px 0 2px 4px;
    -fx-border-color:transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-style:solid;
}

.combo-box:hover>.list-cell,
.combo-box>.combo-box-popup>.list-view>.virtual-flow>.clipped-container>.sheet>.cell.indexed-cell.list-cell:hover
{
    -fx-background-color:-active_hover;
    -fx-text-fill:-active_content_hover;
}

.combo-box:hover>.arrow-button{
    -fx-background-color:-active_hover;
}

.combo-box>.arrow-button>.arrow{
    -fx-background-color:-active_content;
}

.combo-box:hover>.arrow-button>.arrow{
    -fx-background-color:-active_content_hover;
}