.combo-box{
    -fx-background-color: -active;
    -fx-background-radius:0;
    -fx-border-radius: 0;
    -fx-border-color: -active;
    -fx-border-width:0 0 1px 0;
    -fx-border-style: solid;
    -fx-text-fill: -text;
}

.combo-box:hover{
    -fx-border-color: -border;
    -fx-text-fill:-text_hover;
}

.combo-box .list-view{
    -fx-border-color:-border;
    -fx-border-style:solid;
}

.combo-box>.list-cell,
.combo-box>.combo-box-popup>.list-view>.virtual-flow>.clipped-container>.sheet>.cell.indexed-cell.list-cell
{
    -fx-background-color:-active;
    -fx-text-fill:-text;
    -fx-padding:3px;
    -fx-border-color:transparent;
    -fx-border-width:1px;
    -fx-border-style:solid;
}

.combo-box:hover>.list-cell,
.combo-box:hover>.combo-box-popup>.list-view>.virtual-flow>.clipped-container>.sheet>.cell.indexed-cell.list-cell
{
    -fx-background-color:-secondary;
    -fx-text-fill:-text_hover;
}

.combo-box>.arrow-button>.arrow{
    -fx-background-color:-light;
}

.combo-box:hover>.arrow-button>.arrow{
    -fx-background-color:-light_hover;
}