.list-view{
    -fx-background-color: transparent;
    -fx-padding:0;
}

.list-view .clipped-container {
    -fx-background-color:transparent;
    -fx-padding:0px;
}

.list-view .clipped-container .sheet {
    -fx-background-color:blue;
    -fx-padding:0;
}

.identifiable-cell:filled{
    -fx-background-color:transparent;
}

.identifiable-cell:empty{
    -fx-background-color:transparent;
}

.identifiable-cell-content{
    -fx-background-color:transparent;
    -fx-background-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-color:grey;
    -fx-border-style:solid;
    -fx-border-radius: 3px;
}

.identifiable-cell-content:hover{
    -fx-background-color:grey;
}

.identifiable-cell .label{
    -fx-text-fill: white;
}
