.list-view{
    -fx-background-color:transparent;
}

.list-view>.virtual-flow{

}

.list-view>.virtual-flow>.clipped-container{
    -fx-background-color:transparent;
}

.list-view>.virtual-flow>.clipped-container>.sheet{
    -fx-background-color:transparent;
    -fx-padding:2px 5px 2px 5px;
}

.list-view>.virtual-flow>.clipped-container>.sheet>.cell.indexed-cell.list-cell{
    -fx-background-color:transparent;
    -fx-text-fill:-active_content;
    -fx-padding:0 5px 0 5px;
    -fx-border-color:-border;
    -fx-border-width:1px 0 1px 0;
    -fx-border-style:solid;
}

.list-view>.virtual-flow>.clipped-container>.sheet>.cell.indexed-cell.list-cell:empty{
    -fx-border-color:transparent;
}

.list-view>.virtual-flow>.clipped-container>.sheet>.cell.indexed-cell.list-cell:empty:hover{
    -fx-background-color:transparent;
}

.list-view>.virtual-flow>.clipped-container>.sheet>.cell.indexed-cell.list-cell:hover{
    -fx-background-color:-secondary_hover;
    -fx-text-fill:-active_content_hover;
}