.list-view{
    -fx-background-color:transparent;
}

.list-view>.virtual-flow{

}

.list-view>.virtual-flow>.clipped-container{
    -fx-background-color:transparent;
}

.list-view>.virtual-flow>.clipped-container>.sheet{
    -fx-background-color:transparent;
    -fx-padding:2px 5px 2px 5px;
    -fx-border-width:2px;
    -fx-border-color:red;
    -fx-border-style:solid;
}

.list-view>.virtual-flow>.clipped-container>.sheet>.cell.indexed-cell.list-cell{
    -fx-background-color:transparent;
    -fx-text-fill:-text;
    -fx-padding:1px 5px 1px 5px;
    -fx-border-color:-secondary;
    -fx-border-width:1px;
    -fx-border-style:solid;
}

.list-view>.virtual-flow>.clipped-container>.sheet>.cell.indexed-cell.list-cell:empty{
    -fx-border-color:transparent;
}

.list-view>.virtual-flow>.clipped-container>.sheet>.cell.indexed-cell.list-cell:empty:hover{
    -fx-background-color:transparent;
}

.list-view>.virtual-flow>.clipped-container>.sheet>.cell.indexed-cell.list-cell:hover{
    -fx-background-color:-secondary;
    -fx-text-fill:-text_hover;
}