.left .navigation-menu-button{
    -fx-alignment: center-left;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-padding: 2.5px;
    -fx-text-alignment: left;
    -fx-text-fill: -text;
}

.navigation-menu-button:hover{
    -fx-background-color: -secondary;
}