.navigation-menu{
    -fx-background-color:transparent;
}

.navigation-menu .title{
    -fx-max-width:250px;
    -fx-pref-width:200px;
    -fx-min-width:50px;
    -fx-max-height:50px;
    -fx-min-height:50px;
}

.navigation-menu .title .label{
    -fx-text-fill:-active_content;
    -fx-padding:10px 15px 10px 15px;
}

.navigation-menu .minify-button{
    -fx-background-color:transparent;
    -fx-background-radius:0;
    -fx-padding:2px 2px 2px 7px;
}

