.text-area, .text-field{
    -fx-background-color: -active;
    -fx-background-insets:0;
    -fx-background-radius:0;
    -fx-border-color:-active;
    -fx-border-style:solid;
    -fx-border-width:0 0 1px 0;
    -fx-text-fill:-active_content;
}

.text-area{
    -fx-pref-row-count:3;
    -fx-pref-column-count:1;
    -fx-border-width:1px;
    -fx-wrap-text:true;
}

.text-area .scroll-pane, .text-area .scroll-pane .content{
    -fx-background-color:-primary;
    -fx-background-insets:0;
    -fx-background-radius:0;
}

.text-field:hover{
    -fx-background-color:-active_hover;
}

.text-area:hover, .text-field:hover, .text-field:focused{
    -fx-border-color:-border;
    -fx-text-fill:-active_content_hover;
}

.text-field:disabled{
    -fx-background-color:-active_disable;
    -fx-border-color:-active_disable;
}

.text-area:disabled, .text-field:disabled{
    -fx-border-color:-active_disable;
    -fx-text-fill:-active_content_disable;
}