.title{
    -fx-background-color: -secondary;
    -fx-border-color:gray;
    -fx-border-width: 0 0 1px 0;
    -fx-border-style:solid;
}

.title .label{
    -fx-alignment: center-left;
    -fx-max-height:100px;
    -fx-padding:0 0 0 10px;
    -fx-text-alignment:left;
    -fx-text-fill:white;
}

.title .close:hover{
    -fx-background-color:red;
    -fx-background-radius:0;
    -fx-border-radius:0;
}

.title .menu-bar{
    -fx-background-color:transparent;
    -fx-background-insets:0;
    -fx-padding:0;
}

.title .menu{
    -fx-background-insets:0;
    -fx-padding:0;
}

.title .menu:hover, .title .menu:showing{
    -fx-background-color:transparent;
}

.context-menu{
    -fx-background-color:#343A40;
    -fx-background-insets:0;
    -fx-padding:0;
    -fx-border-color:#A17703;
    -fx-border-width:1px;
    -fx-border-style:solid;
}