.combo-box{
    -fx-background-color: #6C757D;
    -fx-background-radius:0;
    -fx-border-radius:0;
}

.combo-box .list-view{
    -fx-border-color:#707070;
    -fx-border-style:solid;
    -fx-border-width:1px;
}