.menu-button{
    -fx-alignment:center-left;
    -fx-background-color: transparent;
    -fx-background-insets:0;
    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-style:solid;
    -fx-border-width:2px;
    -fx-padding: 2.5px 10px 2.5px 10px;
    -fx-text-alignment:left;
    -fx-text-fill:white;

}