.navigation-menu{
    -fx-background-color:#343A40;
}

.title{
    -fx-max-width:250px;
    -fx-pref-width:200px;
    -fx-min-width:50px;
    -fx-max-height:50px;
    -fx-min-height:50px;
}

.title .label{
    -fx-text-fill:white;
    -fx-padding:10px 15px 10px 15px;
}

.minify-button{
    -fx-background-color:transparent;
    -fx-background-radius:0;
    -fx-padding:2.5px;
}
